{% extends "base.html" %}
{% block css %}
<style>
html, body {
    background-color: #f5f5f5;
}
.alert.alert-info {
    background: white;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.16);
    color: #555;
    margin-bottom: 10px;
}
</style>
{% endblock css %}
{% block container %}
    <div class="container">
        <h1>{% block content_title %}{% endblock content_title %}</h1>
        {% block content %}{% endblock %}
    </div>
{% endblock %}