{% extends "base.html" %}

{% block container %}
<div class="container">
    <h1>Edit Notify</h1>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="nameTxt" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
                <input name="name" type="text" class="form-control" id="nameTxt" placeholder="Name" value="{{ object.name }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Token</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" value="{{ object.access_token }}" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default">Submit</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'linenotify:code_delete' object.pk %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </form>
</div>
{% endblock container %}
