{% extends "base.html" %}

{% block container %}
<div class="container">
    <h1>Edit Notify</h1>
    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input type="submit" value="Confirm" class="btn btn-danger" />
        <a href="#" onclick="window.history.back();" class="btn btn-default">No, take me back.</a>
    </form>
</div>
{% endblock container %}
