{% extends "base.html" %}
{% load static %}

{% block title %}{{ contact.name }}{% endblock title %}
{% block css %}
<style>
body {
    background: url({% static 'images/bg.png' %});
    background-size: cover;
    padding-top: 61px;
    padding-bottom: 60px;
}
.navbar-default .navbar-nav>li>a.btn.btn-success {
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.navbar-default .navbar-nav>li>a.btn.btn-success:hover {
    background-color: #56C831;
    border-color: #56C831;
}
.navbar-default {
    background: rgba(0, 0, 0, 0.8);
    border: 0;
    min-height: 61px;
}
.navbar-brand > img {
    display: inline;
}
.navbar-brand {
    padding: 5px 5px;
    height: inherit;
    font-size: 24px;
}
.container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
    float: left;
}
.navbar-right {
    float: right !important;
    margin-right: -15px;
}
.navbar-nav {
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li > a{
    min-height: 60px;
    padding-top: 18px;
    font-size: 18px;
    min-width: 60px;
}
.server-status {
    color: rgba(0,0,0,0);
}
.server-status.online {
    color: limegreen;
}
.server-status.offline {
    color: red;
}


#chatWindow {
    list-style-type: none;
    padding: 0 20px;
}
#chatWindow li {
    padding: 2px 0;
}
#chatWindow .chat-img {
    margin-right: 10px;
    width: 36px;
    border-radius: 18px;
}
#chatWindow .message {
    background: #f5f5f5;
    border-radius: 14px;
    padding: 7px 15px;
    font-size: 12px;
    display: inline-block;
    margin: 2px 0;
    word-break: break-all;
}
#chatWindow li.me {
    text-align: right;
}
#chatWindow li.me .message {
    background: rgb(24, 128, 219);
    color: white;
}
#chatWindow li.other {
    text-align: left;
}

#keyboardZone {
    position: fixed;
    bottom: 0;
    width: 100%;
}
#keyboardZone textarea {
    width: 100%;
    height: 60px;
    font-size: 12px;
    display: block;
    resize: none;
    border: 0;
    border-top: 1px;
    border-top: 1px solid #aaa;
}

#template {
    display: none;
}
.message > a {
    text-decoration: underline;
}
.me .message > a {
    color: white;
}
h1 {
    text-align: center;
    margin-top: 100px;
}
</style>
{% endblock css %}
{% block body %}
<header>
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand"><img src="{{ contact.profile_picture_url }}" alt="" style="padding-right: 10px;"/><span class="server-status">&bull;</span> {{ contact }}</a>
            </div>
        </div>
    </nav>
</header>

<ul id="chatWindow">
    <h1>
        กำลังถูกใช้งาน
    </h1>
    <center>
        <button id="closeBtn" type="button" class="btn btn-default btn-lg">ปิด</button>
    </center>
</ul>
{% endblock body %}

{% block script %}
    <script>
    $(function(){
        $('#closeBtn').click(function(){
            window.close();
        });
    });
    </script>
{% endblock script %}

