{% extends "lineapp/index.html" %}

{% block search %}{% endblock search %}

{% block  userheader %}
    <a href="{% url 'moderator.read_all' %}" class="btn btn-default btn-read" style="">Read</a>
{% endblock userheader %}

{% block actionbar %}
    <a id="hiddenContactBtn" href="{% url 'moderator.read_all' %}" class="btn btn-default btn-read" style="">Read</a>
{% endblock actionbar %}

{% block contact_group %}
    <h2>Groups</h2>
    <ul class="line-list list-unstyled">
        {% for group in groups %}
            <li class="{% if group.worked_by %}worked{% endif %}">
                <a href="{% url 'moderator.chat' group.lineid %}" data-target=".panel-right" data-name="{{ group }}">
                    <img src="{{ group.profile_picture_url }}" alt=""/>
                    <div>
                        <div>{{ group }}</div>
                        {% if group.worked_by %}
                            <div class="worked_by">{{ group.worked_by }}</div>
                        {% endif %}
                    </div>
                    {% if group.unread_messages.count %}
                        <span class="badge">{{ group.unread_messages.count }}</span>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock contact_group %}

{% block contact_room %}
    <h2>Rooms</h2>
    <ul class="line-list list-unstyled">
        {% for room in rooms %}
            <li class="{% if room.is_working %}worked{% elif room.is_worked_expired %}expired{% endif %}">
                <a href="{% url 'moderator.chat' room.lineid %}" data-target=".panel-right" data-name="{{ room }}">
                    <img src="{{ room.profile_picture_url }}" alt=""/>
                    <div>
                        <div>{{ room }}</div>
                        {% if room.worked_by %}
                            <div class="worked_by">{{ room.worked_by }} ({{ room.worked_on|timesince }} ago)</div>
                        {% endif %}
                    </div>
                    {% if room.unread_messages|length %}
                        <span class="badge">{{ room.unread_messages|length }}</span>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock contact_room %}

{% block contact %}
    <h2>Contacts</h2>
    <ul class="line-list list-unstyled">
        {% for contact in contacts %}
            <li class="{% if contact.is_working %}worked{% elif contact.is_worked_expired %}expired{% endif %}">
                <a href="{% url 'moderator.chat' contact.lineid %}" data-target=".panel-right" data-name="{{ contact }}">
                    <img src="{{ contact.profile_picture_url }}" alt=""/>
                    <div>
                        <div>{{ contact }}</div>
                        {% if contact.worked_by %}
                            <div class="worked_by">{{ contact.worked_by }} ({{ contact.worked_on|timesince }} ago)</div>
                        {% endif %}
                    </div>
                    {% if contact.unread_messages|length %}
                        <span class="badge">{{ contact.unread_messages|length }}</span>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock contact %}

{% comment %}
{% block container %}
    <div class="container">
        <h1>
            {{ account.email }}
            <span id="countDown"></span>
        </h1>
        <h2>Groups</h2>
        <ul class="line-list list-unstyled">
            {% for group in groups %}
                <li class="{% if group.worked_by %}worked{% endif %}">
                    <a href="{% url 'moderator.chat' group.lineid %}" data-target=".panel-right" data-name="{{ group }}">
                        <img src="{{ group.profile_picture_url }}" alt=""/>
                        <div>
                            <div>{{ group }}</div>
                            {% if group.worked_by %}
                                <div class="worked_by">{{ group.worked_by }}</div>
                            {% endif %}
                        </div>
                        {% if group.unread_messages.count %}
                            <span class="badge">{{ group.unread_messages.count }}</span>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
        
        <h2>Contacts</h2>
        <ul class="line-list list-unstyled">
            {% for contact in contacts %}
                <li class="{% if contact.worked_by %}worked{% endif %}">
                    <a href="{% url 'moderator.chat' contact.lineid %}" data-target=".panel-right" data-name="{{ contact }}">
                        <img src="{{ contact.profile_picture_url }}" alt=""/>
                        <div>
                            <div>{{ contact }}</div>
                            {% if contact.worked_by %}
                                <div class="worked_by">{{ contact.worked_by }}</div>
                            {% endif %}
                        </div>
                        {% if contact.unread_messages.count %}
                            <span class="badge">{{ contact.unread_messages.count }}</span>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock container %}

{% block script %}
<script type="text/javascript">
    function countDown(timeout) {
        $('#countDown').text(timeout);
        if(timeout > 0) {
            timeout--;
            setTimeout(function(){countDown(timeout);}, 1000);
        }
        else if(timeout <= 0) {
            $('#countDown').text("Reload...");
            location.reload();
        }
    }
    $(document).ready(function(){
        $('a[data-target]').click(function(){
            var target = $(this).data('target');
            var name   = $(this).data('name');
            var href   = $(this).attr('href');
            window.open(href, name,'height=600,width=500');
            // $.get(href, function(data){
            //     $(target).html(data);

            // });
            return false;
        });
        countDown(10);
    });
</script>
{% endblock script %}

    
{% endcomment %}