{% extends "base.html" %}
{% load bootstrap3 %}

{% block container %}
<div class="container">
    <h1>
        Add account
    </h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form form-horizontal" method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                {% buttons layout='horizontal' %}
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock container %}
