{% extends "base.html" %}

{% block css %}
{% endblock css %}

{% block container %}
<div class="container">
    <h1>
        Developer
    </h1>
    <form id="submitForm" class="form-horizontal">
        <div class="form-group">
            <label for="inputToken" class="col-sm-2 control-label">access token</label>
            <div class="col-sm-10">
                <input name="access_token" type="text" class="form-control" id="inputToken" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="inputText" class="col-sm-2 control-label">message</label>
            <div class="col-sm-10">
               <textarea name="message" id="messageText" cols="30" rows="10" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default">Send</button>
            </div>
        </div>
    </form>
    <pre id="result"></pre>

    <h2>API Endpoint</h2>
    <div class="well well-sm">/api/send_message/</div>
    <div class="well well-sm">/api/sentry/webhook/</div>
    <div class="well well-sm">/api/jira/webhook/</div>
</div>
{% endblock container %}

{% block script %}
<script>
$(function(){
    $('#submitForm').submit(function(){
        $.post("{% url 'api.send_message' %}", $(this).serialize(), function(data){
            $('#result').text(JSON.stringify(data, null, 4));
        }, 'json');
        return false;
    });
});
</script>
{% endblock script %}
