{% extends "base.html" %}

{% block container %}
<div class="jumbotron">
    <div class="container">
        <h1>Build {{ version.build }}</h1>
        <p>Include messages history.</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'accounts.register' %}" role="button">Register »</a></p>
    </div>
</div>
{% endblock container %}
