{% extends "base.html" %}

{% block container %}
<div class="container">
    <h1>
        Verify accounts
        <a id="verifyBtn" href="#" class="btn btn-primary pull-right">Verify</a>
    </h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>State</th>
                <th>Status</th>
                <th>Created on</th>
                <th>Pincode</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ account.email }}</td>
                <td class="state">{{ account.get_state_display }}</td>
                <td class="status"></td>
                <td>{{ account.created_on }}</td>
                <td class="pincode"></td>
                <td class="state_message"></td>
            </tr>
        </tbody>
    </table>
    
    <h2>Login History</h2>
    <table id="loginHistoryTable" class="table">
        <thead>
            <tr>
                <th>State</th>
                <th>Created on</th>
                <th>Pincode</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for login_history in login_histories %}
                <tr>
                    <td>{{ login_history.get_state_display }}</td>
                    <td>{{ login_history.created_on }}</td>
                    <td>{{ login_history.pincode }}</td>
                    <td>{{ login_history.state_message }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock container %}

{% block script %}
<script>

function parseStatus(data) {
    $('.state').text(data.state_display);
    $('.status').text(data.status);
    if(data.state === 0 || data.status === false) {
        $('#verifyBtn').removeAttr('disabled');
    }
    else {
        $('#verifyBtn').attr('disabled','disabled');
    }
    $('.pincode').text(data.pincode);
    $('.state_message').text(data.state_message);

    $('#loginHistoryTable tbody').html('');
    for(var i in data.login_histories) {
        var login_history = data.login_histories[i];
        var tr = $('<tr>');
        tr.append($('<td>').text(login_history.state_display));
        tr.append($('<td>').text(login_history.created_on));
        tr.append($('<td>').text(login_history.pincode));
        tr.append($('<td>').text(login_history.state_message));
        $('#loginHistoryTable tbody').append(tr);
    }
}

function getStatus() {
    $.getJSON("{% url 'api.api_verify_account' account.pk %}", function(data) {
        parseStatus(data);
        setTimeout(getStatus, 2000);
    });
}


$(function(){
    $('#verifyBtn').click(function(){
        $.post("{% url 'api.api_verify_account' account.pk %}", function(data) {
            parseStatus(data);
        }, 'json');
    });
    getStatus();
});
</script>
{% endblock script %}